
section{
    margin-top: 100px;
}


@media only screen and (max-width: 1000px) {
    section{
        padding-top: 30px;
    }
    }


    #abcd #cart{
        /* width:auto; */
        /* height:auto; */
        padding: 0%;
        margin-left: 10%;
    
        float: left;
        
       
    }

    /* .space{
       width:auto;
        height:auto;
        
    } */

    

    #cards{
        border: solid rgb(235, 218, 218) ;

        margin-top: 100px;
        display: inline-block;
        margin-left: 70px;
        position:relative
        
      }
      #cards:hover{
        cursor: pointer;
      }


.addcus{
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px; 
}

nav{ position: fixed; top: 18%; left: 0; z-index: 9999; width: 100%; height: 50px; 
 }
@media only screen and (max-width: 1000px) {
  nav
  {   
    position: relative;
  }
      
}

section {
    display: table;
  }

  .space div{
    float:left
  }
  
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
